#clip-player-complex{
  /*border-bottom: 1px solid grey;*/
  height: 56vh;
}

#history-expanded-clip-player-comments-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between; /*or justify-content: center with gap*/  
  gap: 10px;
}

#expanded-clip-player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-width: 0;
}

.clip-player-item {
  flex: 1;
  min-width: 0;
}

#clip-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.my-carousel-control-prev,
.my-carousel-control-next {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  z-index: 0;
  opacity: 1;
}

/* Eventually refactor into elements in flexbox row */
#clip-player .my-carousel-control-prev {
  left: 50px; /* You can also specifically adjust the left one */
}

#clip-player .my-carousel-control-next {
  right: 50px;
}

#clip-player .carousel-btn i {
  font-size: 2rem;
}

.nudge-right {
    padding-left: 4px;
}

.nudge-left {
    padding-right: 4px;
}

.nudge-up {
  padding-bottom: 4px;
}

.nudge-down {
  padding-top: 4px;
}

#iframe-container {
  display: flex;
  justify-content: center;
  flex: 1; /* fill clip player-space when streamer bar hidden */
  position: relative;
  max-width: calc(54vh * 16 / 9); /* keep iframe container from extending wider than 16/9 iframe */
}

/* ----------------------------------------------------------------- */
.default-video-size {
  height: 360px;
  width: 640px;
}

.enlarged-video {
  max-width: 100%;
  max-height: 54vh;
  width: auto;
  height: auto;
  aspect-ratio: 16/9;
}
/* ----------------------------------------------------------------- */

.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid grey;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

#disclosure-button {
  cursor: pointer;
}

#disclosure-button-container {
  display: flex;
  justify-content: center;  /* centers horizontally */
}

.caret-up {
  transform: rotate(0deg);
}

.caret-down {
  transform: rotate(180deg);
}
