.meta-svg-container {
  width: 120px;
  height: 120px;
  min-width: 120px;
  position: relative;
  overflow: hidden;
}

.donut-chart {
  width: 300px;
  height: 300px;
}
.sector {
  cursor: pointer;
}
.sector-path {
  transition: transform 0.2s;
  transform-origin: 50px 50px;
}
.sector:hover .sector-path {
  transform: scale(1.05);
}

.svg-container {
transform: scale(0.4);
transform-origin: top left;
position: relative;
width: 300px;
height: 300px;
}

.pfp-image {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 50%;
width: 150px;
height: 150px;
object-fit: cover;
}
