.following-page-btn {
    padding: 6px 16px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    cursor: pointer;
    opacity: 0;
}

.search-result:hover .following-page-btn {
  opacity: 1;
}

.following-page-unfollow-btn:hover {
    background: #fee;
    border-color: #f44;
    color: #c00;
}

.reorder-btn:hover {
    background: rgb(226, 241, 230);
    border-color: rgb(68, 255, 140);
    color: rgb(0, 204, 85);
}
