#login-modal {
    display: none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

#login-modal h2 {
    color: black;
}

#login-modal-inner {
    background:white;
    margin:10% auto;
    padding:30px;
    width:300px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:center;
}

#username {
    width:100%;
    padding:10px;
    margin:10px 0;
    box-sizing:border-box;
}
