#nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 1rem;
}

#nav-bar-sticky-container{
  position: sticky;
  top: 0;
  z-index: 1000;
}

#nav-left {
  justify-content: flex-start;
}

#nav-right {
  justify-content: flex-end;
}

#nav-bar-items {
  display: flex;
  flex-direction: row;
  gap: 100px;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav-bar-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.nav-bar-button {
  cursor: pointer;
}

#search-bar {
  position: relative; /* makes this the positioning context for #search-results */
  width: 250px;
}

#searchBox {
  background-color: rgb(31, 31, 31);
  border: 1px solid white;
  border-radius: 0px;
  color: white;
  padding: 1px 12px;
  width: 100%;
}

#search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  max-height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.category-search-result-boxart {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.search-result {
  display: flex;            /* Use flexbox for horizontal layout */
  align-items: center;      /* Vertically center the content */
  margin-bottom: 10px;      /* Space between entries */
}

#search-results .search-result:first-child {
  padding-top: 5px;
}

/* Style for the image (profile picture) */
.streamer-pfp {
  width: 40px;              /* Set a fixed size for the profile picture */
  height: 40px;             /* Make sure the height matches the width */
  border-radius: 50%;       /* Make the image circular */
  margin-right: 10px;       /* Add some space between the image and the name */
}

/* Style for the name of the streamer */
.streamer-name {
  margin: 0;                /* Remove any default margin */
  font-size: 16px;          /* Set a font size for the name */
}
