#nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 1rem;
}

#nav-bar-sticky-container{
  position: sticky;
  top: 0;
  z-index: 1000;
}

#nav-left {
  justify-content: flex-start;
}

#nav-right {
  justify-content: flex-end;
}

#nav-bar-items {
  display: flex;
  flex-direction: row;
  gap: 100px;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav-bar-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.nav-bar-button {
  cursor: pointer;
}

#search-bar {
  position: relative; /* makes this the positioning context for #results */
  width: 250px;
}

#searchBox {
  background-color: rgb(31, 31, 31);
  border: 1px solid white;
  border-radius: 0px;
  color: white;
  padding: 1px 12px;
  width: 100%;
}

#results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  max-height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
}
