.scrollable {
  overflow-y: auto;
  /* firefox scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent; /* invisible track */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* subtle thumb */
  border-radius: 8px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4); /* thumb highlight on hover */
}
