body {
  background-color: rgb(31, 31, 31);
}

div {
  background-color: rgb(31, 31, 31);
  color: white;
}

p {
  margin: 0;
}

.sticky-stuff{
  position: sticky;
  top: 0;
  z-index: 1;
}

ul {
  list-style-type: none;
}

a {
  color: inherit; /* Use the inherited text color */
  text-decoration: none; /* Remove the underline */
}

a:hover {
  color: inherit; /* Keep the color on hover */
  text-decoration: none; /* Keep no underline on hover */
}

#like-dislike-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.valence-button{
  width: fit-content;
}
  
#change-carousel-buttons-container {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 1; /* Take available space */
}

.change-carousel-button {
  flex: 1; /* Each button takes equal space */
  width: 100%;
  box-sizing: border-box;
}

#disclosure-button-container {
  display: flex;
  justify-content: center;  /* centers horizontally */
}

.caret-up {
  transform: rotate(0deg);
}

.caret-down {
  transform: rotate(180deg);
}

#categories-to-browse {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 10px; /* Space between items */
}

.category-wrapper {
  flex: 1 1 200px; /* Flex-grow, flex-shrink, and base width */
  padding: 20px;
  text-align: center;
  box-sizing: border-box; /* Ensure padding and border are included in total width/height */
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#iframe-container {
  width: 100%; /* Use full width of the popup */

  height: 640px;
}

.iframe-slide {
  background-color: #333; /* Dark grey background */
}

#x{
  position: sticky;
  top: 0;
  z-index: 1;
  margin-left: 220px;  /* Space for the fixed sidebar */
  padding: 20px;
}

.category-search-img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Optional: This will ensure the image doesn't stretch or squash */
  image-rendering: crisp-edges; /* Attempt to preserve sharpness during scaling */
}

.boxart {
  margin-left: 30px;
  margin-right: 10px;
  padding: 16px 0; /* Same padding as carousel-inner */
}
