body {
  background-color: rgb(31, 31, 31);
}

div {
  background-color: rgb(31, 31, 31);
  color: white;
}

p {
  margin: 0;
}

.sticky-stuff{
  position: sticky;
  top: 0;
  z-index: 1;
}

ul {
  list-style-type: none;
}

a {
  color: inherit; /* Use the inherited text color */
  text-decoration: none; /* Remove the underline */
}

a:hover {
  color: inherit; /* Keep the color on hover */
  text-decoration: none; /* Keep no underline on hover */
}

#categories-to-browse {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 10px; /* Space between items */
}

.category-wrapper {
  flex: 1 1 200px; /* Flex-grow, flex-shrink, and base width */
  padding: 20px;
  text-align: center;
  box-sizing: border-box; /* Ensure padding and border are included in total width/height */
}

.iframe-slide {
  background-color: #333; /* Dark grey background */
}

#x{
  position: sticky;
  top: 0;
  z-index: 1;
  margin-left: 220px;  /* Space for the fixed sidebar */
  padding: 20px;
}

.category-search-img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Optional: This will ensure the image doesn't stretch or squash */
  image-rendering: crisp-edges; /* Attempt to preserve sharpness during scaling */
}
