.tabs {
  margin-left: 0;
  margin-right: auto;
}

.tab-buttons {
  position: relative;
  display: flex;
  overflow-x: auto;
  padding: 0;
}

.carousel-tab-buttons {
  position: sticky;
  z-index: 1;
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #8969c5;
  transition: transform 0.3s ease, width 0.3s ease;
  will-change: transform, width;
}

.tab-btn {
  padding: 0px 16px;
  padding-bottom: 10px;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 14px;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.3s;
  flex: 0 0 auto;
}
.tab-btn:hover {
  color: #6a4da1;
}

.tab-btn.active {
  color: #8969c5;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}
