.tabs {
  display: flex;
  background-color: #f1f1f1;
  border-bottom: 2px solid #ccc;
}

.tab-link {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.tab-link:hover {
  background-color: #ccc;
}

.tab-link.active {
  background-color: #fff;
  border-bottom: 2px solid #000;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
