#votes-container{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.vote-button {
  width: fit-content;
  color: gray;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.flipped {
  transform: rotate(180deg);
}

.vote-icon.voted {
  color: #a970ff;
}

.favorited {
  color: #a970ff;
}
