
body {
  background-color: rgb(31, 31, 31);
}

div {
  background-color: rgb(31, 31, 31);
  color: white;
}

p {
  margin: 0;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  gap: 100px;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 1em;
  align-items: center;
  position: sticky;
  top: 0;
  color: white;
  z-index: 1; /* optional */
}


.carousel-inner {
    padding: 1em;
  }
  
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
  
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
  
.carousel-item {
  display: flex;
  justify-content: space-between;
}
  
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
  }
  
  .carousel-inner {
    display: flex;
  }
}
  
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card img {
    max-height: 100%;
}

@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

.card-body p {
  margin-bottom: 0;
}

#carouselExampleControls .carousel-inner{
  padding: 0;
}

#nav-bar {
  padding: 0;
}

.donut-chart {
  width: 300px;
  height: 300px;
}
.sector {
  cursor: pointer;
}
.sector-path {
  transition: transform 0.2s;
  transform-origin: 50px 50px;
}
.sector:hover .sector-path {
  transform: scale(1.05);
}

.svg-container {
transform: scale(0.4); /* Scale down to 50% */
 transform-origin: top left; /* Make sure it scales from the top-left corner */
position: relative;
width: 300px;
height: 300px;
}
.overlay-image {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 50%;
width: 150px;
height: 150px;
object-fit: cover;
}